$white: #fff;
$black: #000;
$span: red;
$explore: #2962ff;
$light_text: #b7b7b7;
$gr1: #3e2bce;
$gr2: #2dd3aa;
$gr3: #2dd3aa;
$gr4: #2dd3aa;
$light_bg: #f5f9fc;
$line: #f7f7f7;
$bg-light: #f0f0f0;

// sign up colors

$nav: #0d42b2;
$signinbg: #11279d;
$innerbg: #1808b4;
$border: #dae4ff;
$gr5: #16a3fe;
$gr6: #41faa4;
$link:#c2fde1;